.interest-form-btn {
	background-color: var(--color-gold);
	font-family: "Poppins";
	font-weight: 500;
	color: var(--color-brown);
	border-radius: 1.5rem;
	padding: 0.5rem 1.5rem;
	font-size: 2.5vh;
	cursor: pointer;
	transition: filter 0.3s ease;
}
.interest-form-btn:hover {
	filter: brightness(1.1);
}
