.hackgt12-text {
	color: var(--color-gold-light);
	font-size: min(5vh, 8vw);
	line-height: 1.2;
}

.title-text {
	color: var(--color-gold);
	font-size: min(12vh, 16vw);
	line-height: 0.8;
}

.atthe-text {
	color: var(--color-gold-dark);
	font-size: min(5vh, 8vw);
}

.date-text {
	font-family: "Poppins", sans-serif;
	color: var(--color-gold);
	font-weight: 500;
	font-size: min(3vh, 4vw);
	margin-top: 0.5rem;
	margin-bottom: 0.75rem;
}

.interest-form-button {
	background-color: var(--color-gold);
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	color: var(--color-brown);
	border-radius: 1.5rem;
	padding: 0.5rem 1.75rem;
	font-size: min(3vh, 5vw);
	cursor: pointer;
	transition: filter 0.2s ease-in-out;
	animation: shadow-pulse 1.6s infinite;
}
.interest-form-button:hover {
	filter: brightness(110%);
}

.thanks {
	background-color: #0008;
	border-radius: 0.4rem;
	padding: 0.2rem 0.6rem;
	width: fit-content;
	margin: 0 auto;
}