.interest-form-btn {
	background-color: var(--color-gold);
	font-family: "Poppins";
	font-weight: 500;
	color: var(--color-brown);
	border-radius: 1.5rem;
	padding: 0.5rem 1.5rem;
	font-size: 2.5vh;
	cursor: pointer;
	transition: filter 0.3s ease;
	animation: shadow-pulse 1.6s infinite;
}
.interest-form-btn:hover {
	filter: brightness(1.1);
}

.thanks {
	background-color: #0008;
	border-radius: 0.4rem;
	padding: 0.2rem 0.6rem;
	width: fit-content;
	margin: 0 auto;
}