.hackgt12-text {
	font-family: "The Seasons";
	color: var(--color-gold-light);
}

.title-text {
	font-family: "The Seasons";
	color: var(--color-gold);
	font-weight: 500;
	font-size: 11vh;
	line-height: 0.8;
}

.atthe-text {
	font-family: "The Seasons";
	color: var(--color-gold-dark);
	font-size: 5vh;
	font-weight: 500;
}