.sponsors-flex-container {
	min-height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 2rem 8rem;
	color: white;
	width: 90%;
	margin: 0 auto;
}

.sponsor-logo-xl {
	width: min(80rem, 90%);
}

.sponsor-logo-lg {
	width: min(40rem, 50%);
}

.sponsor-logo-md {
	width: min(25rem, 30%);
}

.sponsor-logo-sm {
	width: min(15rem, 15%);
}
